@font-face{
    font-family:CAS;
    src:url("cas.ttf");
}
@font-face{
    font-family:JA3017;
    src:url("ja3017.ttf");
}
body{
    font-family:Tahoma,sans-serif;
    font-size:15px;
    text-align:center;
    background-color:white;
}
video{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    z-index: -1;
    overflow: hidden;
}
audio{
    filter: sepia(400%) saturate(200%) grayscale(0) contrast(400%) hue-rotate(-30deg) invert(0%);
}
a{
    text-decoration: none;
}
h1{
    font-size:5em;
    padding:0.25em;
    font-family:CAS,sans-serif;
}
h2{
    font-size:2em;
    padding:0.25em;
}

#sabaton{
    position:fixed;
    right:0;
    top:0;
    background-color:rgb(0,0,0);
    color:white;
    padding-top:0.5em;
    border-left:1em solid rgb(0,0,0);
    border-bottom:1em solid rgb(0,0,0);
    border-bottom-left-radius: 2em 2em;
    z-index:2;
}
#sabaton a{
    display:block;
    color:crimson;
    padding-bottom:0.5em;
}
#sabaton a:hover{
    text-decoration: underline;
}

header{
    color:rgb(85, 1, 1);
    margin:36vh 0;
    padding:0 2em;
    background-color:transparent;
}
section{
    display:inline-block;
    margin:0 auto;
    transition: 1s ease;
    border-radius:3em 0;
    padding:0 3em;
}
section:hover{
    background-color:rgba(216, 216, 216, 0.55);
    color:rgb(150, 2, 2);
}
section:hover ul a{
    color:rgb(85, 1, 1);
}
#down img{
    margin:1em auto;
    height:1em;
    display:block;
    height:auto;
    width:3.5em;
    transition: .5s ease;
}
#top{
    display:block;
    border:0.1em solid rgb(85, 1, 1);
    border-radius:100% 100%;
    font-size:2.75em;
    width:1.25em;
    font-weight: bold;
    color:rgb(85, 1, 1);
}
#top{
    position:fixed;
    right:5%;
    bottom:15%;
}
#top:hover,#down img:hover{
    background-color:white;
}
nav ul{
    font-family: JA3017,sans-serif;
    display:flex;
    justify-content: center;
    list-style-type: none;
}
ul li a{
    margin:1em 2em;
    font-size:2em;
    color:crimson;
    transition: .5s ease;
}
nav ul li a:hover{
    color:navy;
}

main{
    background-color:rgba(155,155,155,0.75);
}
main ul li{
    list-style-type: square;
}
button{
    cursor:pointer;
    border:none;
    color:rgb(300, 4, 4);
    font-size:1.25em;
    margin-bottom:0.5em;
    background-color:black;
}
button:hover{
    text-decoration:underline;
}