#battle{
    color:white;
}
#hmain:hover #battle,#battle:hover{
    color:white;
}
section:nth-child(2){
    background-color:rgba(228, 228, 228, 0.75);
}
section h2, section p{
    flex-basis: 100%;
}
h4,h5{
    color:rgb(70, 9, 88);
}
h5{
    margin:0.75em 0 0.35em 0;
    font-family:CarroisGothicSC;
}
section h3{
    color:rgb(81,9,9);
    font-size:1.5em;
    padding:0.2em;
    border-bottom:0.1em solid black;
}
p{
    margin-bottom:0.5em;
}
main section{
    align-items:flex-start;
}
section *{
    flex-basis:80%;
}
video{
    width:100%;
    margin:1em 0;
}
#forces{
    justify-content: space-evenly;
}
#forces article{
    flex-basis:40%;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-content: space-around;
}
#forces article h3{
    flex-basis:100%;
    margin-top:1.5em;
    padding:1em 0;
    background-color:rgba(255,255,255,0.55);
 }
#forces article *{
    flex:1;
} 
article>ul{
    background-image:linear-gradient(rgba(180,180,180,0.65),rgba(150,150,150,0.65)),url("../assets/flags/us2.jfif");
    text-align: left;
    font-family:CarroisGothicSC;
    font-weight: 1000;
    list-style-type: square;
    background-size: cover;
    background-repeat:no-repeat;
    background-position-x: right;
}
article ul + ul{
    border-left:0.1em solid black;
    background-image:linear-gradient(rgba(180,180,180,0.65),rgba(150,150,150,0.65)),url("../assets/flags/japan2.jfif");
    background-size: cover;
    background-repeat:no-repeat;
    background-position-x: left;
}
#timeline p{
    text-align:left;
}
article li > ul{
    text-align: center;
    list-style-type: none;
    font-family:CarroisGothic;
}
article li > ul > li:before {
    content: "- ";
  }
#timeline{
    float:right;
}
#timeline p{
    font-size:0.8em;
}
#timeline{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
#timeline article{
    flex:1.35;
    margin-left:1em;
}
#timeline article + article{
    border:0.1em solid black;
    flex:1;
    background-color:rgba(88, 0, 0, 0.4);
    padding:1em 1em;
}

.icon{
    height:0.9em;
    display:inline-block;
    margin:0;
    padding:0;
    border:none;
}
b{
    font-family: CarroisGothicSC;
}
@media screen and (max-width:1000px){
    #timeline article, #timeline article + article{
        flex-basis:95%;
        margin:0;
        border:none;
    }
    #forces article{
        margin:0;
        flex-basis:95%;
    }
    #forces article h3{
        padding:1em 0;
        margin-top:0;
    }
}