#battle{
    color:white;
}
#hmain:hover #battle,#battle:hover{
    color:white;
}
section p{
    flex-basis: 100%;
}
h4,h5{
    color:rgb(70, 9, 88);
}
section h3{
    color:rgb(81,9,9);
    font-size:1.5em;
    padding:0.2em;
    border-bottom:0.1em solid black;
}
p{
    margin-top:0.45em;
    margin-bottom:0.5em;
}
main section{
    align-items:flex-start;
}
section *{
    flex-basis:80%;
}
video{
    width:100%;
    margin:1em 0;
}
#forces{
    justify-content: space-around;
    align-items:flex-start;
}
#forces article{
    flex-basis:45%;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
#forces article h3{
    flex-basis:100%;
    margin-top:1.5em;
    padding:1em 0;
    background-color:rgba(255,255,255,0.55);
 }
#forces article *{
    flex:1;
} 
article>ul{
    background-image:linear-gradient(rgba(180,180,180,0.65),rgba(150,150,150,0.65)),url("../assets/flags/us2.jfif");
    text-align: left;
    font-family:CarroisGothicSC;
    font-weight: 1000;
    list-style-type: none;
    background-size: cover;
    background-repeat:no-repeat;
    background-position-x: right;
    padding-bottom:1em;
}
article ul + ul{
    border-left:0.1em solid black;
    background-image:linear-gradient(rgba(180,180,180,0.65),rgba(150,150,150,0.65)),url("../assets/flags/japan2.jfif");
    background-size: cover;
    background-repeat:no-repeat;
    background-position-x: left;
}
article li > ul{
    text-align: left;
    list-style-type: none;
    font-family:CarroisGothic;
}
li>ul li{
    margin-right:0.5em;
}
article li > ul > li:before {
    content: "- ";  
  }
#timeline p{
    font-size:0.8em;
}
#h2{
    flex-basis:100%;
}
#timeline{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}
#timeline h5{
    margin-left:5em;
    font-family:CarroisGothicSC;
    margin:1em 0 0.45em 3em;
}
#timeline article{
    /* border:0.1em solid black; */
    background-color:rgba(204, 99, 99, 0.7);
    /* background-color:rgba(255, 255, 255, 0.63); */
    border-top:0.1em dashed black;
    border-bottom:0.1em dashed black;
    padding:1em 1em;
    width:80%;
    text-align:left;
    flex-basis: 100%;
    display:none;
    align-items:center;
    align-content:center;
}
#i1{
    display:block;
}
.icon{
    height:0.9em;
    display:inline-block;
    margin:0;
    padding:0;
    border:none;
}
#left img,#right img{
    height:2em;
    width:100%;
    border:0;
}
#left,#right{
    margin-bottom:0;
    margin-top:0.5em;
    flex:1;
    border:0;
    /* padding:0.25em 0; */
    background-color:transparent;
}
#left img{
    transform: rotate(90deg);
}
#right img{
    transform: rotate(270deg);
}
#leftimg2,#rightimg2,#leftimg4,#rightimg4{
    display:none;
}
b,h3{
    font-family: CarroisGothicSC;
}
article ul > li{
    margin:0 0 0 0.5em;
}
article > ul > li{
    margin-top:0.5em;
}
article{
    display:flex;
    flex-wrap:wrap;
}
article h3{
    flex-basis:100%;
}
article video{
    flex:1;
    min-width:40%;
    margin:0.45em;
}
article p{
    flex:1;
    min-width:40%;
}
@media screen and (max-width:1000px){
    #timeline *{
        font-size:1.15em;
    }
    #timeline article{
        margin:0;
    }
    article video{
        flex-basis:100%;
    }
    #forces article{
        flex-basis:95%;
    }
    #forces article h3{
        padding:1em 0;
        margin-top:0;
    }
    #timeline h2,ul#oob li a{
        font-size:1.75em;
        padding:0.5em;
    }
    #timeline #oob{
        width:175%;
        left:-37.5%;
    }
    h3#page{
        flex:3;
        font-size:1.5em;
    }
}
#timeline h2{
    display:inline-block;
    margin: 1em auto;
    flex-basis:content;
    color:crimson;
}
#oob{
    display:none;
    z-index:3;
    position: absolute;
    list-style-type: none;
    flex-direction: column;
    background-color:rgb(218, 241, 255);
    /* box-shadow: 0.2em 0.25em; */
    left: -25%;
    top: 100%;
    width: 150%;
}
#oob li{
    display:block;
    font-size:1rem;
    flex:1;
}
#oob li a{
    display:block;
    padding: 0 0;
    border-top:0.05em solid rgb(81,9,9);
}
#oob:nth-last-child(1){
    border-bottom:0.05em solid rgb(81,9,9);
}
#oob a:hover{
    color:rgb(81,9,9);
    background-color:rgba(210, 210, 210, 1);
    border-left:0.1em solid rgb(81,9,9);
    border-right:0.1em solid rgb(81,9,9);
    /* border:0.1em solid black; */
}
#timeline h2:hover #oob{
    display:inline-flex;
}
#timeline h2:hover{
    /* text-decoration:underline; */
    color:rgb(81,9,9);
}
section#timeline h2{
    padding-bottom:0;
    text-align:center;
    position:relative;
    text-decoration: none;
    transition: all 0.5s ease;
}
#page{
    border:none;
    margin-top:0.5em;
    font-size:2em;
    flex:1;
}