#battle{
    color:white;
}
#hmain:hover #battle,#battle:hover{
    color:white;
}
section:nth-child(2){
    background-color:rgba(228, 228, 228, 0.75);
}
section h2, section p{
    flex-basis: 100%;
}
h4,h5{
    color:rgb(70, 9, 88);
}
section h3{
    color:rgb(81,9,9);
    font-size:1.5em;
    padding:0.2em;
}
p{
    margin-bottom:0.5em;
}
main section{
    align-items:flex-start;
}
section *{
    flex-basis:80%;
}
video{
    width:100%;
    margin:1em 0;
}
#forces{
    justify-content: space-evenly;
}
#forces article{
    flex-basis:40%;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-content: space-around;
}
#forces article h3{
    flex-basis:100%;
    margin-top:2em;
}
#forces article *{
    flex-basis:50%;
}
article>ul{
    background-color:rgba(0, 79, 170, 0.4);
    list-style-type: square;
}
article ul + ul{
    background-color:rgba(170, 0, 0, 0.4);
}
#timeline p{
    text-align:left;
}
article li > ul{
    text-align: right;
    list-style-type: none;
    
}
article li > ul > li:before {
    content: "- ";
  }
#timeline{
    float:right;
}
#timeline p{
    font-size:0.8em;
}
#timeline{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
#timeline article{
    flex-basis:60%;
    margin-left:1em;
}
#timeline article + article{
    flex-basis: 30%;
    background-color:rgba(88, 0, 0, 0.4);
    padding:1em 1em;
}
@media screen and (max-width:1000px){
    #timeline article, #timeline article + article{
        flex-basis:100%;
    }
    #forces article{
        flex-basis:100%;
    }
    #forces article *{
        flex-basis:50%;
        font-size:0.9em;
    }
}