@font-face{
    font-family:YFury;
    src:url("../fonts/yfury.ttf");
}
@font-face{
    font-family:JA3017;
    src:url("../fonts/ja3017.ttf");
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
    text-align:center;
    background-color:black;
    scroll-behavior: smooth;
}
video{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: -1;
    overflow: hidden;
}

audio{
    filter: sepia(400%) saturate(200%) contrast(400%) hue-rotate(-30deg);
}
a{
    text-decoration: none;
}
h1{
    font-size:5em;
    padding:0.25em;
    font-family:YFury,sans-serif;
}
h2{
    font-size:2em;
    padding:0.25em;
}

#sabaton{
    position:fixed;
    right:0;
    top:0;
    background-color:rgb(0,0,0);
    color:white;
    padding-top:0.5em;
    border-left:1em solid rgb(0,0,0);
    border-bottom:1em solid rgb(0,0,0);
    border-bottom-left-radius: 2em 2em;
    z-index:2;
}
#sabaton a{
    display:block;
    color:crimson;
    width:60%;
    margin: 0 auto 0.5em auto;
}
#sabaton a:hover{
    text-decoration: underline;
}
@keyframes move{
    from{transform:translate(0);}
    to{transform:translate(75);}
}
.in{
    animation : move 1s;
}
.out{
    animation :move 1s reverse;
}

@keyframes opac {
    from {opacity:0.2;}
    to {opacity:1;}
  }
.trans{
    opacity:0.2;
}
.trans:hover{
    animation: opac 1s alternate;
}
#toggle{
    display:block;
    width:10%;
    float:left;
}
button{
    cursor:pointer;
    border:none;
    color:rgb(300, 4, 4);
    font-size:1.25em;
    margin-bottom:0.5em;
    background-color:black;
}
button:hover{
    text-decoration:underline;
}
header{
    color:rgb(85, 1, 1);
    margin:33vmin 0;
    padding:0 2em;
    background-color:transparent;
}
#hmain{
    display:inline-block;
    margin:0 auto;
    transition: 1s ease;
    border-radius:3em 0;
    padding:0 3em;
}
#hmain:hover{
    background-color:rgba(216, 216, 216, 0.55);
    color:rgb(150, 2, 2);
}
#hmain:hover ul a{
    color:rgb(85, 1, 1);
}
#down img,.top img{
    margin:1em auto;
    width:3.5em;
}
#img1,#top1{
    display:block;
    transition: .5s ease;
}
#img2,#top2{
    display:none;
    transition: .5s ease;
}
#top1,#top2{
    transform: rotate(180deg);
}
.top{
    position:fixed;
    right:5%;
    bottom:15%;
}
nav ul{
    font-family: JA3017,sans-serif;
    display:flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
}
ul li a{
    margin:1em 1.5em;
    font-size:2.5em;
    color:crimson;
    transition: .5s ease;
}
#hmain nav ul a:hover{
    color:navy;
}
section{
    padding : 20vh 1em;
    background-color:rgba(170, 170, 170, 0.75);
    border-top:0.2em double black;
    font-size:1.5em;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}
section h2{
    color:rgb(81,9,9);
    text-decoration:underline;
    padding-bottom:0.8em;
}
section img{
    margin: 4em 2em 0 2em;
    height:auto;
    width:auto;
    border:0.2em double;
    flex-basis: 100%;
}
section:nth-child(even){
    background-color:rgba(228, 228, 228, 0.75);
}
section:nth-child(even) h2{
    order:2;
}
section *{
    flex-basis:40%;
}
section p *{
    margin : 0;
}
section:nth-last-child(){
    flex-direction: column;
}
section button{
    background-color:transparent;
}
@media only screen and (max-width:778px){
    body{
        font-size:12px;
    }
    video{
        height:100%;
        width:auto;
        margin-left:-50%;
        overflow: hidden;
    }
    header{
        padding: 0 0;
    }
    #hmain{
        padding: 0 0;
    }
    section{
        margin:auto 0.1em;
    }
    section img{
        margin:auto 0;
    }
}
@media only screen and (max-width:1024px){
    video{
        height:100%;
        width:auto;
        margin-left:-25%;
        overflow: hidden;
    }
    #hmain{
        padding: 0 2em;
    }
    section *{
        flex-basis:100%;
        margin:5vh 1em;
    }
    section:nth-child(even) h2{
        order:0;
    }
    ul li a{
        padding: 0.5rem 0.25rem;
        margin: 0.5em 0.5em;
    }
}
@media only screen and (min-width:1024px) and (max-width:1138px){
    ul li a{
        padding: 0.5rem 0.25rem;
        margin: 0.5em 1em;
    }
}