*{margin:0;padding:0;}html{overflow-x:hidden;}
@font-face{
    font-family:CarroisGothic;
    src:url("../fonts/CarroisGothic.ttf");
}
@font-face{
    font-family:CarroisGothicSC;
    src:url("../fonts/CarroisGothicSC.ttf");
}
@font-face{
    font-family:YFury;
    src:url("../fonts/yfury.ttf");
}
@font-face{
    font-family:JA3017;
    src:url("../fonts/ja3017.ttf");
}
body{
    font-family:CarroisGothic,Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
    text-align:center;
    background-color:black;
    scroll-behavior: smooth;
}
#vid{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:100%;
    height:auto;
    z-index: -1;
    overflow: hidden !important;
}
#top{
    position:absolute;
    top:0;
    left:0;
    display:".";
}
a{
    text-decoration: none;
}
h1{
    font-size:5em;
    padding:0.25em;
    font-family:YFury,sans-serif;
    text-shadow:none;
    animation : shadowrev 0.5s;
}
h2{
    font-size:2em;
    padding:0.25em;
}
#sabaton{
    position:fixed;
    right:0;
    top:0;
    background-color:black;
    color:crimson;
    padding-top:0.5em;
    border-left:1em solid black;
    border-bottom:1em solid black;
    border-bottom-left-radius: 2em 2em;
}
#sabaton a{
    display:block;
    margin: 0 auto 0.5em auto;
}
#sabaton a:hover{
    text-decoration: underline;
}
#sabaton p{
    margin:0 0;
}
#hidden{
    border-left:0.5em solid black;
    border-bottom:0.5em solid black;
    border-bottom-left-radius: 1.5em 1.5em;
}
#hidden .toggle{
    display:inline-block;
    padding:0.25em 0.5em;
}
#sabaton .toggle{
    display:block;
    float:left;
}
.toggle, #sabaton #vidclick{
    margin:0em 0.35em 0.35em 0.1em;
}
#hidden{
    display:none;
    position:fixed;
    right:0;
    top:0;
    background-color:rgb(0,0,0);
    color:white;
    padding-top:0.5em;
    width:auto;
}
#hidden,#sabaton{
    transition:all 0.5s ease;
    opacity:0.4;
    z-index:3;
}
#hidden:hover,#sabaton:hover{
    opacity:1;
}
#hmain:hover h1{
    animation:shadow 0.5s;
    text-shadow: 0.1em 0.1em 0.025em rgba(0,0,0,0.4);
}
@keyframes shadow{
    from {text-shadow:none;}
    to {text-shadow: 0.1em 0.1em 0.025em rgba(0,0,0,0.4);}
}
@keyframes shadowrev{
    from {text-shadow: 0.1em 0.1em 0.025em rgba(0,0,0,0.4);}
    to {text-shadow:none;}
}
a, button{
    cursor:pointer;
}
button{
    border:none;
    color:crimson;
    font-size:1.25em;
    margin-bottom:0.5em;
    background-color:black;
}
button:hover, footer a:hover{
    text-decoration:underline;
}
header{
    color:rgb(85, 1, 1);
    height:100vh;
    min-height:100vh;
    margin-top:30vh;
    padding:0 2em;
    background-color:transparent;
}
#hmain{
    display:inline-block;
    margin:0 auto;
    transition: 1s ease;
    border-radius:3em 0;
    padding:0 3em;
}
#hmain:hover{
    background-color:rgba(216, 216, 216, 0.55);
    color:rgb(150, 2, 2);
}
#hmain:hover ul a{
    color:rgb(85, 1, 1);
}
.down{
    display:block;
    width:2em;
    margin:1em auto;
}
.down,.top{
    padding:0 1em;
    z-index:5;
}
.down img,.top img{
    width:5em;
}
#down1,#top1{
    display:block;
}
#down2,#top2{
    display:none;
}
#top1,#top2{
    transform: rotate(180deg);
}
#top1{
    opacity:0.65;
}
.top{
    position:fixed;
    right:2.5%;
    bottom:10%;
}
nav ul{
    font-family: JA3017,sans-serif;
    display:flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
}
a{
    color:crimson;
}
ul li a{
    font-size:2.5em;
    transition: .5s ease;
}
#hmain nav ul a:hover{
    color:navy;
}
section{
    padding : 20vh 0;
    background-color:rgba(170, 170, 170, 0.75);
    border-top:0.2em double black;
    font-size:1.5em;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-evenly;
    transition:0.5s all ease;
}
section:hover{
    background-color:rgba(210, 210, 210, 1);
}
section:last-of-type{
    border-bottom:0.2em double black;
}
section img{
    border:0.2em double;
}
section h2{
    color:rgb(81,9,9);
    text-decoration:underline;
    padding-bottom:0.8em;
}
section *{
    flex-basis:40%;
}
section p *{
    margin : 0;
}
footer{
    background-color:black;
    color:royalblue;
    width:100%;
    text-align:center;
    font-weight: bold;
    font-size:1.25em;
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    align-items: baseline;
    padding:1.5em 0 1.5em 0 ;
}
footer>p{
    margin: 0 0;
}
footer *{
    flex:1;
}
footer button{
    font-size:inherit;
    padding:0 0;
    flex:1;
}
#credits{
    font-size:1em;
    display:none;
    overflow: hidden;
    padding:2em 1em 0 1em;
    flex-basis:100%;
    background-color:black;
    transition:none;
    border-top: 0.1em dashed royalblue;
    order:4;
}
#credits>*{
    display:block;
    /* text-align:center; */
}
#credits>p{
    margin:1em 0;
    transform:translateY(500%);
    animation:scrollup 5s forwards;
}
#credits a{
    position:relative;
    display:inline-block;
    color:crimson;
}
#credits span{
    display:inline-block;
}
@keyframes scrollup{
    from{transform:translateY(500%);}
    to{transform: translateY(0%);}
}
#colours{
    animation:kek 10s infinite;
}
@keyframes kek{
    0% {color:red;}
    25% {color:yellow;}
    50% {color:green;}
    75% {color:blue;}
    100% {color:red;}
}
@media screen and (min-width:1281px){
    ul li a{
        padding: 0.5em 1.5em;
    }
    /* ul li{
        margin:2em 1.5em;
    } */
}
@media screen and (max-width:1280px){
    #hmain{
        padding : 0 2em;
    }
    nav ul li a{
        padding: 0.5em 1em;
    }
    nav ul li{
        margin: 2em 0.5em;
    }
}
@media screen and (max-width:1000px){
    #sabaton{
        font-size: 150%;
    }
    body{
        font-size:10px;
    }
    footer>*,footer>button,nav ul li{
        flex-basis:100%;
        font-size:1.15em;
    }
    #hmain{
        padding:0.5em 0;
        width:100%;
        margin: 0 0;
    }
    #hmain nav ul li{
        margin:1em 0;
    }
    #vid{
        height:100%;
        width:auto;
    }
    header,main,footer{
        font-size:1.1em;
    }
    /* video{ 
        height:100%;
        width:auto;
        margin-left:-50%;
    } */
    /* header{
        padding: 0 0;
    } */
    section{
        margin:auto 0;
        background-color:rgba(210, 210, 210, 1);
    }
    figcaption{
        margin:0 0;
    }
    #hmain ul li a{
        padding: 0.5em 0;
    }
    main section *, main #gallery figure{
        flex-basis:95%;
    }
    /*    video{
        height:100%;
        width:auto;
        margin-left:-25%;
    } */
    #c1{
        order:3;
    }
}
#audiobutton{
    width:2em;
    border-radius:0.1em;
    margin-bottom:0;
    transition: all 0.25s ease;
}
#audiobutton:hover{
    background-color:rgba(170, 170, 170, 0.25)
}
#audiobutton img{
    width:100%;
} 
#pause{
    display:none;
}
#audioplayer{
    display:flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-around;
}
#timestamp{
    display:inline;
    font-size:1.5em;
}
#cont{
    width:70%;
    height:0.35em;
    background-color:transparent;
    position:relative;
    padding:0.75em 0;
}
#musicline{
    width:90%;
    height:0.35em;
    background-color:white;
    position:relative;
}
#musichover{
    position:absolute;
    top:0;
    left:0;
    width:0;
    height:0.35em;
    background-color:rgb(150, 2, 2);
}
#musicpoint{
    height:0.35em;
    width:0%;
    background-color:crimson;
}
#musicpoint::after{
    display:block;
    position: relative;
    content:" ";
    left:95%;
    height:0.4em;
    width:0.5rem;
    background-color:navy;
}