*{margin:0;padding:0;}html{overflow-x:hidden;}
@font-face{
    font-family:CarroisGothic;
    src:url("../fonts/CarroisGothic.ttf");
}
@font-face{
    font-family:CarroisGothicSC;
    src:url("../fonts/CarroisGothicSC.ttf");
}
@font-face{
    font-family:YFury;
    src:url("../fonts/yfury.ttf");
}
@font-face{
    font-family:JA3017;
    src:url("../fonts/ja3017.ttf");
}
body{
    font-family:CarroisGothic,Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
    text-align:center;
    background-color:black;
    scroll-behavior: smooth;
}
#vid{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:100%;
    height:auto;
    z-index: -1;
    overflow: hidden !important;
}
#top{
    position:absolute;
    top:0;
    left:0;
    display:".";
}
a{
    text-decoration: none;
}
h1{
    font-size:5em;
    padding:0.25em;
    font-family:YFury,sans-serif;
    text-shadow:none;
    animation : shadowrev 0.5s;
}
h2{
    font-size:2em;
    padding:0.25em;
}
#sabaton{
    position:fixed;
    right:0;
    top:0;
    background-color:rgb(0,0,0);
    color:white;
    padding-top:0.5em;
    border-left:1em solid rgb(0,0,0);
    border-bottom:1em solid rgb(0,0,0);
    border-bottom-left-radius: 2em 2em;
}
#sabaton a{
    display:block;
    margin: 0 auto 0.5em auto;
}
#sabaton a:hover{
    text-decoration: underline;
}
#hidden{
    border-left:0.5em solid black;
    border-bottom:0.5em solid black;
    border-bottom-left-radius: 1.5em 1.5em;
}
#hidden #toggle{
    display:inline-block;
    padding:0.25em 0.5em;
}
#sabaton #toggle{
    display:block;
    width:10%;
    float:left;
}
#hidden{
    display:none;
    position:fixed;
    right:0;
    top:0;
    background-color:rgb(0,0,0);
    color:white;
    padding-top:0.5em;
    width:auto;
}
@keyframes opac {
    from {opacity:0.4;}
    to {opacity:1;}
  }
  @keyframes opacrev {
    from {opacity:1;}
    to {opacity:0.4;}
  }  
#hidden,#sabaton{
    animation:opacrev 0.5s;
    opacity:0.4;
    z-index:3;
}
#hidden:hover,#sabaton:hover{
    animation: opac 0.5s;
    opacity:1;
}
#hmain:hover h1{
    animation:shadow 0.5s;
    text-shadow: 0.1em 0.1em 0.025em rgba(0,0,0,0.4);
}
@keyframes shadow{
    from {text-shadow:none;}
    to {text-shadow: 0.1em 0.1em 0.025em rgba(0,0,0,0.4);}
}
@keyframes shadowrev{
    from {text-shadow: 0.1em 0.1em 0.025em rgba(0,0,0,0.4);}
    to {text-shadow:none;}
}
a, button{
    cursor:pointer;
}
button{
    border:none;
    color:rgb(300, 4, 4);
    font-size:1.25em;
    margin-bottom:0.5em;
    background-color:black;
}
button:hover, footer a:hover{
    text-decoration:underline;
}
header{
    color:rgb(85, 1, 1);
    height:100vh;
    min-height:100vh;
    margin-top:30vh;
    padding:0 2em;
    background-color:transparent;
}
#hmain{
    display:inline-block;
    margin:0 auto;
    transition: 1s ease;
    border-radius:3em 0;
    padding:0 3em;
}
#hmain:hover{
    background-color:rgba(216, 216, 216, 0.55);
    color:rgb(150, 2, 2);
}
#hmain:hover ul a{
    color:rgb(85, 1, 1);
}
.down{
    display:block;
    width:2em;
    margin:1em auto;
}
.down,.top{
    padding:0 1em;
    z-index:5;
}
.down img,.top img{
    width:5em;
}
#down1,#top1{
    display:block;
}
#down2,#top2{
    display:none;
}
#top1,#top2{
    transform: rotate(180deg);
}
#top1{
    opacity:0.65;
}
.top{
    position:fixed;
    right:2.5%;
    bottom:10%;
}
nav ul{
    font-family: JA3017,sans-serif;
    display:flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
}
a{
    color:crimson;
}
ul li a{
    font-size:2.5em;
    transition: .5s ease;
}
#hmain nav ul a:hover{
    color:navy;
}
section{
    padding : 20vh 0;
    background-color:rgba(170, 170, 170, 0.75);
    border-top:0.2em double black;
    font-size:1.5em;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-evenly;
}
section:last-of-type{
    border-bottom:0.2em double black;
}
section img{
    border:0.2em double;
}
section h2{
    color:rgb(81,9,9);
    text-decoration:underline;
    padding-bottom:0.8em;
}
section *{
    flex-basis:40%;
}
section p *{
    margin : 0;
}
footer{
    background-color:black;
    color:royalblue;
    width:100%;
    text-align:center;
    padding:2em 0;
    font-weight: bold;
    font-size:1.25em;
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}
@media screen and (min-width:1281px){
    ul li a{
        padding: 0.5rem 1.5rem;
    }
    ul li{
        margin:1em 1.5em;
    }
}
@media screen and (max-width:1280px){
    #hmain{
        padding : 0 2em;
    }
    ul li a{
        padding: 0.5em 1em;
    }
    ul li{
        margin: 0.5em 0.5em;
    }
}
@media screen and (max-width:1000px){
    footer *,nav ul li{
        flex-basis:100%;
    }
    #vid{
        height:100%;
        width:auto;
    }
    header,main,footer{
        font-size:1.35em;
    }
    /* video{ 
        height:100%;
        width:auto;
        margin-left:-50%;
    } */
    header{
        padding: 0 0;
    }
    #hmain{
        padding: 0 0;
    }
    section{
        margin:auto 0;
    }
    figcaption{
        margin:0 0;
    }
    nav ul li{
        margin: 0.25em 0;
    }
    nav ul li a{
        padding: 1em 0;
    }
    main section *, main #gallery figure{
        flex-basis:95%;
    }
    /*    video{
        height:100%;
        width:auto;
        margin-left:-25%;
    } */
}